
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  margin-left: 80px;
  /* margin-top: 80px; */
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background: var(--color_azul_ocuro_hover);
}

main{
  padding: 20px;
}

/* ///////////////// dropdown////////// */


.img_perfil{
  /* position:absolute; */
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile{
  /* position: relative; */
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 30px;
}

.actions{
  top: 20px;
  right: 30px;
}

.actions .menu{
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  margin-right: 30px;
}

.actions .menu.active{
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.actions .menu ::before{
  position: absolute;
  content: '';
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  transform: rotate(45deg);
}


.actions .menu h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: bold;
  color: var(--color_azul_ocuro);
  line-height: 1.2em;
}

.actions .menu h3 span{
  font-size: 14px;
  color: #a9a9a9;
  font-weight: 400;
}

.actions .menu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}

.actions .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.actions .menu ul li:hover img{
  opacity: 1;
}

.actions .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color:var(--color_azul_ocuro);
  font-weight: 500;
  transition: 0.5s;
}

.actions .menu ul li:hover a{
  color:var(--color_azul_ocuro);
  font-weight: bold;
}

.container_search{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--color_azul_ocuro);
}

.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  width: 230px;
  height: 45px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  outline: none;
  border: none;
  padding: 20px;
  background: #fff;
}

.search::placeholder{
  color: var(--color_azul_ocuro);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#icon_search{
  display: flex;
  color: #FFF;
  justify-content: center;
  align-items: center;
  background: var(--color_verde_jade);
  width: 50px;
  height: 45px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
}

#icon_search:hover{
  background: var(--color_verde_jade_hover);
}

.conte_general{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  margin-right: 20px;
}

.icon_menu{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
  /* background: rebeccapurple; */
}

.icon_menu i{
  width: 100%;
  font-size: 26px;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  margin-left: 10px;
}

.icon_menu i:hover {
  color: var(--color_verde_jade);
}

.menu__side{
  width: 80px;
  height: 100%;
  background: var(--color_azul_ocuro);
  position: fixed;
  top: 0;
  left: 0;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 20px solid var(--color_azul_ocuro);  
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side::-webkit-scrollbar{
  display: none;
}

.menu__side {
  -ms-text-overflow-style: none;
  scrollbar-width: none;
}


.name__page{
  flex-direction: row;
  display: flex;
  /* padding: 20px 30px; */
  align-items: center;
}

.name__page h4{
  display: flex;
  margin-top: -17px;
  align-items: center;
  color: #fff;
}

.img_logo_dashboard{
  display: flex;
  width: 90px;
  height: 90px;
  margin-right: -20px;
}

.options__menu{
  position: absolute;
  padding: 20px 30px;
  
}

.options__menu a{
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

.options__menu a :hover {
color: var(--color_verde_jade);
}

.options__menu .options{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative; 
}

.options__menu .options i{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;

}

.options__menu .options h4{
  font-weight: 300;
  cursor: pointer;
}

a.select{
  color: var(--color_verde_jade);
}

.select:before{
content:'';
width: 4px;
height: 50%;
background-color: var(--color_verde_jade);
position: absolute;
top: 25%;
left: -30px;
}

.container_cards_general{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}


.body_move{
  margin-left: 250px;
}

.menu__side_move{
  width: 250px;
}



@media screen and (max-width: 760px) {
  .body_move{
    margin-left: 0px;
  }

  .menu__side_move{
    width: 80px;
    left: -80px;

  }

  .icon_menu{
    transform: translateX(10px);
  }
  
}

/* //////////////////////// CONTENIDO//////////////////// */

.container_cards{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 20px;
}

.cards{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 150px;
  background-color: var(--color_azul_ocuro);
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  border: solid 1px rgba(30, 213, 189, 0.1);
}

.text_cards{
  display: flex;
  color: #fff;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.porciento{
  display: flex;
  color: var(--color_verde_jade);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.container_cards_large{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.cards_large{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: 100%;
  height:335px;
  background-color:  var(--color_azul_ocuro);
  border-radius: 10px;
  border: solid 1px rgba(30, 213, 189, 0.1);
}

.Container_cards_small{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 20px;
  gap: 30px;
}

.cards_small{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height:335px;
  background-color:  var(--color_azul_ocuro);
  border-radius: 10px;
  color: white;
  border: solid 1px rgba(30, 213, 189, 0.1);
}



