@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.body{
  font-family:'Open Sans', sans-serif;
}


.conten_general_formulario{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
}

.container_form{
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: var( --color_azul_ocuro);
}

.container_form header{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.container_form header::before{
  content: '';
  /* position: absolute; */
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  /* background-color: #4070f4; */
  border: radius 8px;
}

.container_form form{
  /* position: relative; */
  min-height: 490px;
  margin-top: 50px;
}

.container_form .detalle__persona{
  margin-top: 10px;
}

.container_form .detalle__vuelo{
  margin-top: 50px;
}

.container_form .titulo{
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 500px;
  margin: 6px 0;
  color:var(--color_verde_jade);
}

.container_form .fields{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input__field{
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 15px);
  margin: 4px 0;
  color: #2e2e2e;
}

.input__field label{
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  color: #fff;
}

.input__field input{
  padding: 0 15px;
  border:  1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 42px;
  margin: 8px 0;
  cursor: pointer;
  background: var(--color_azul_ocuro_hover);
}

.input__field input::placeholder{
 color: rgb(63, 63, 63);
}

.input__field input:focus{
  border: solid 2px var(--color_verde_jade);
 }
 



.input__field select{
  padding: 0 15px;
  border:  1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;;
  font-weight: 400;
  outline: none;
  height: 42px;
  margin: 8px 0;
  cursor: pointer;
  background: var(--color_azul_ocuro_hover);
}

.input__field select:focus{
 border: solid 2px var(--color_verde_jade);
}


/* ////////////////////////////////////// */

.boton_formulario{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 70px;
}

.conten_files{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  /* margin-top: 40px; */
  gap: 15px;
}

.conten_input_file{
  display: flex;
  border: solid 2px dashed #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color_azul_ocuro_hover);
  height: 80px;
  width:170px;
}

.conten_input_file h2{
 font-size: 10px;
 color: #fff;
}

.conten_input_file .button_01{
  padding:  5px 5px;
  font-size: 15px;
  border: 0;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--color_yellow);
  border-radius: 2px;
  cursor: pointer;
}

.conten_input_file .button_02{
  padding:  5px 5px;
  font-size: 15px;
  border: 0;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  background-color: var( --color_green);
  border-radius: 2px;
  cursor: pointer;
}

.conten_input_file{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: dashed #fff; border-width: 2px; 
}

.conten_file_general{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.conten_file_general h3{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 13px;
  color: #fff;
}


/* ////////////////////////////////////// */


.btn_small_04{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_small_justify);
  align-items: var(--btn_small_aling_items);
  width:190px;
  height: 55px;
  background-color: var(--color_verde_jade);
  border-radius: 7px;
  font-size:16px;
  font-weight: 600;
  color: var(--font_color_white);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  gap: 10px;
}

.btn_small_04:hover{
  background-color: var(--color_verde_jade_hover);
}