@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

.select_print{
  outline: none;
  padding: 5px;
  width:auto;
  color: #fff;
  background: var(--color_azul_ocuro_hover);
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.318);
  cursor: pointer;
  font-size: 15px;
}

.select_print:focus{
  border: solid 1px var(--color_verde_jade) ;
}