@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.containe_botones{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.btn_small_02{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_small_justify);
  align-items: var(--btn_small_aling_items);
  width: var(--btn_small_width);
  height: var(--btn_small_height);
  background-color: var(--color_verde_jade);
  border-radius: var(--btn_small_boder_radio);
  border: var(--btn_small_boder);
  font-size: var(--btn_small_fonsize);
  color: var(--font_color_white);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  gap: 10px;
}

.btn_small_02:hover{
  background-color: var(--color_verde_jade_hover);
}


.btn_small{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_small_justify);
  align-items: var(--btn_small_aling_items);
  width: var(--btn_small_width);
  height: var(--btn_small_height);
  background-color: var( --color_yellow);
  border-radius: var(--btn_small_boder_radio);
  border: var(--btn_small_boder);
  font-size: var(--btn_small_fonsize);
  color: var(--font_color_white);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  gap: 10px;
}

.btn_small:hover{
  background-color: var(--orange-600);
  
}


.btn_small_03{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_small_justify);
  align-items: var(--btn_small_aling_items);
  width: var(--btn_small_width);
  height: var(--btn_small_height);
  background-color: var( --color_green);
  border-radius: var(--btn_small_boder_radio);
  border: var(--btn_small_boder);
  font-size: var(--btn_small_fonsize);
  color: var(--font_color_white);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  gap: 10px;
}

.btn_small_03:hover{
  background-color: var(--green-500);
}


/* TEBLA_PASAJERO */

.container_tabla{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* background:var( --color_azul_ocuro); */
  padding: 15px;
  border-radius:5px;
}

.tabla_pasajeros{
  width: 100%;
  /* margin-top: 20px; */
  border-collapse:collapse;
  gap: 10px;
  background:var( --color_azul_ocuro);
  border: solid 1px rgba(30, 213, 189, 0.1);
}

.tabla_pasajeros tr th{
  /* border: 1px solid var(--color_azul_ocuro_hover); */
  background-color: rgba(255, 255, 255, 0.045);
  color: var(--color_verde_jade);
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 14PX;
  padding: 12px;
}



.tabla_pasajeros tr td{
  border-bottom: 4px solid var(--color_azul_ocuro_hover);
  font-size: 15px;
  padding: 15px;
  color: white;
}

.h2{
  display: flex;
  margin-top: 10px;
  width: 100%;
  color: #fff;
  justify-content: center;
}

.conten_icon_tabla{
  display: flex;
  width: 100%;
  /* justify-content: flex-end; */
  gap: 20px;
  padding-right: 10px;
}

.container_header{
  margin-top: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 18px;
  /* gap: 10px; */
  /* background: red; */
}

.conten_botones_titulo{
  display: flex;
  flex-direction: column;
  margin-bottom: -75px;
  /* width: 100%; */
  height: auto;
  gap: 20px;
}

.conten_grupo_01{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 15px;
}
.titulo{
  display: flex;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.conten_seach_finter{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  /* background: blue; */
  
}

.search_tabla{
  width:250px;
  height: 40px;
  background: var(--color_azul_ocuro);
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border: solid 1px rgba(30, 213, 189, 0.1);
}

.filter{
  width:100px;
  height: 40px;
  background: var(--color_azul_ocuro);
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border: solid 1px rgba(30, 213, 189, 0.1);
  
}

.elemento__01{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 10px;
}


#delete{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#edit{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#eye{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.paginacion{
  margin: 40px 0;
}

.paginacion ul{
  list-style: none;
  text-align: center;
}

.paginacion ul li{
  display: inline-block;
  margin-right: 10px;

}

.paginacion ul li a{
  display: block;
  padding: 5px 10px;
  color:rgb(171, 168, 168);
  background: rgba(255, 255, 255, 0.03);
  font-weight: bold;
  border-radius: 5px;
  transition: 600ms;
  font-size: 11px;
}

.paginacion ul li a:hover{
  padding: 10px 15px;
  background: var( --color_azul_ocuro_hover);
  color: #fff;
  font-size: 14px;
}

.paginacion ul li .active{
  padding: 5px 10px;
  border: solid 1px #fff;
  color: #fff;
  font-size: 14px;
}

.paginas{
  width: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  margin-left: 5px;
  font-size: 11px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.03);
  color:rgb(171, 168, 168);
}
