
@media (max-width:450px){
  .img_logo{
    width: 300px;
    height: 300px;
    margin-bottom: -80px;
  }

  .titulo{
    font-size: 15pt;
    font-weight: bold;
  }

  .titulo2{
    font-size: 11pt;
    margin-bottom: -10px;
  }

  .inputs{
    width: 280px;
    height: 50px;
  }

  .img_input{
    width: 20px;
    height: 20px;
  }

  .baground{
    width: 52px;
    height: 52px;
  }

  .btn_lerge{
    width: 335px;
    height:52px;;
  }

  .conte_general{
    width: auto;
  }

  .search{
    width: 100%;
    height: 25px;
  }

  .search::placeholder{
    font-size: 13px;
  }

  #icon_search{
   font-size: 14px;
    width: 55px;
    height: 40px;
  }
  
  .container_search{
    height: 55px;
  }

  .profile{
    margin-right: 15px;
    width: 40px;
    height: 40px;
  }

  .actions .menu.active{
    top: 70px;
  }

  .actions .menu h3{
    font-size: 14px;
  }

  .actions .menu h3 span{
    font-size: 10px;
  }

  .actions .menu ul li{
    padding: 6px 0;
  }

  .actions .menu ul li img{
    max-width: 15px;
    margin-right: 5px;
  }

  .actions .menu ul li a{
   font-size: 12px;
  }

  .actions .menu ::before{
    top: -5px;
    right: 15px;
  }
  

  
}

/* ///////////////////// dasboard */

@media (max-width:821px){

  .container_cards_general{
    align-items: center;
  }  

  .container_cards{
    flex-direction: column;
    align-items: center;
  }

  .cards{
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .Container_cards_small{
    display: flex;
    flex-direction: column;
  }

  .cards_small{
    width: 100%;
  }

  .text_cards{
    font-size: 15px;
  }

  .porciento{
    font-size:30px ;
  }
  
}

/* ///////////////////// PASAJERO */

@media (max-width:700px){

  form .fields .input__field{
    width: calc(100% / 2 - 15px);
  }

  
  .container_form form{
    overflow-y: scroll;
  }

  .container_form form::-webkit-scrollbar{
    display: none;
  }
  
}


@media (max-width:620px){

  form .fields .input__field{
    width: 100%;
  }
  
  .conten_file_general{
    flex-direction: column;
  }
  
  .conten_files{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .conten_input_file{
    width:100%;
  }

  .btn_small_04{
    width: 100%;
    height: 55px;
    margin-top: 30px;
  }
  
}


/* //////////////////// USER////////////////// */

/* @media(max-width: 890px){
  .conten_card_user{
    flex-direction: column;
    align-items: center;
  }

  .card_use_01{
    width: 80%;
  }

  .boton_new {
    margin-left: 10px;
    margin-top: -10px;
  }

  .boton_new a {
    font-size: 14px;
  }
  
  .boton_new a i{
    font-size: 25px;
  }

} */