
/* /////////////////////LOGIN////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
  background: var( --color_azul_ocuro);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.form01{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 400px;
  height: 100vh;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.conten_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.img_logo{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin-bottom: -120px;
  margin-top: -60px;
}

.titulo{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: var( --font_color_white);
  font-size: 17pt;
  font-weight: bold;
  margin: -10px;
}

.titulo2{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: var( --font_color_white);
}

.input_conten{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img_input{
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
}

.baground{
  display: flex;
  background-color: white;
  justify-content: center;
  width: 62px;
  height: 62px;
  align-items: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.inputs{
  display: flex;
  width: 290px;
  height: 60px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
}


.inputs::placeholder{
  font-family: 'Open Sans', sans-serif;
}

.conten_radios{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: auto;
  height: auto;
  gap: 6px;
  margin-top: -15px;
}

.conten_check{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 64%;
  height: auto;
  gap: 6px;
}

.texto_checkbox{
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: var(--font_color_white);
  font-size: 14px;
}

.copy_right{
  display: flex;
  justify-content: center;
  color: var(--font_color_white);
  margin-top: 60px;
  font-size: 10pt;
}

a{
  text-decoration: none;
}

/* //////////////////////CIRCULOS ANIMADOS///////////// */


.circles{
  position: absolute;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(3, 214, 190, 0.1);
  animation: animate 25s linear infinite;
  bottom: -150px;
  color: rgba(0, 91, 65, 0.375);
  
}

 .circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
} 

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
} 

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
} 

 .circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
} 

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
 
/* ///////////////////////////////DASBOARD/////////////////////////// */

