
.container__general__user{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
}

.conten_user{
  max-width: 1300px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  background: #0d1224;
  border-radius: 10px;
  margin-top: 100px;
}

.container__row{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  /* background: rgb(4, 0, 255); */
}

.container__column{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  /* background: rgb(64, 255, 0); */
}

.container__cards_row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:auto;
  gap: 30px;
}

.cards__m{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background: var(--color_azul_ocuro);
  border-radius: 5px;
}


.card__xl{
  display: flex;
  width: 100%;
  height: 300px;
  background: var(--color_azul_ocuro);
  border-radius: 5px;
  border: 1px solid rgba(0, 94, 85, 0.274);
}

.card__L{
  display: flex;
  max-width: 600px;
  width: 100%;
  height: auto;
  background: var(--color_azul_ocuro);
  border-radius: 5px;
  border: 1px solid rgba(0, 94, 85, 0.274);
}

.container__cards__small{
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  /* background: orange; */
  gap: 30px;
}

.boton_new{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  width: 10%;
  height: auto;
  align-items: center;
}

.boton_new a {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.boton_new a i{
  font-size: 35px;
}

.boton_new :hover{
  color: var(--color_verde_jade);
}

.card_use_01{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 400px;
  height: auto;
  border-radius: 5px;
  background: var(--color_azul_ocuro);
  border: 1px solid rgba(0, 94, 85, 0.274);
}

.card_use_01 i{
 color: var(--color_azul_ocuro_hover);
 font-size: 90px;
 margin-bottom: 10px;
}

.card_use_01 h3{
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
 }

 .card_use_01 label{
  color: rgba(84, 86, 86, 0.70);
  margin-bottom: 10px;
  font-size: 11px;
  margin-top: -5px;
 }


.opciones{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 25px;
}


.opciones #editar{
 color: var(--color_verde_jade);
 font-size: 15px;
 cursor: pointer;
}

.opciones #eliminar{
  color: var(--red-400);
  font-size: 15px;
  cursor: pointer;
 }

 .opciones #ver{
  color: var(--orange-700);
  font-size: 15px;
  cursor: pointer;
 }


















