



.conten_iconos_general{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  /* background: red; */
  margin-top: 30px;
}

.conten_icon_ver{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.conten_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.conten_icon label{
 color: #fff;
 font-weight: bold;
 font-size: 10px;
}

.conten_icon a i{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  background: var(--color_azul_ocuro_hover);
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.conten_icon i:hover{
  border: solid 1px var(--color_verde_jade);
  color: var(--color_verde_jade);
}

.conten_final_02{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.conten_final_02 p{
  color: var(--color_verde_jade);
  font-size: 16px;
  font-weight: bold;
}

.conten_botones_aprovar{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn_small_04{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_small_justify);
  align-items: var(--btn_small_aling_items);
  width: var(--btn_small_width);
  height: 45px;
  background-color: var( --red-200);
  border-radius: var(--btn_small_boder_radio);
  border: var(--btn_small_boder);
  font-size: var(--btn_small_fonsize);
  font-weight: bold;
  color: var(--font_color_white);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  gap: 10px;
}

.btn_small_04:hover{
  background-color: var(--red-400);
}

.btn_small_05{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_small_justify);
  align-items: var(--btn_small_aling_items);
  width: var(--btn_small_width);
  height: 45px;
  background-color: var( --color_green);
  border-radius: var(--btn_small_boder_radio);
  border: var(--btn_small_boder);
  font-size: var(--btn_small_fonsize);
  font-weight: bold;
  color: var(--font_color_white);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  gap: 10px;
}

.btn_small_05:hover{
  background-color: var(--green-500);
}

