:root{

/* ////////// COLORS - GENERAL  //////////////// */

  --color_green : rgb(36, 231, 36);
  --color_hover_green :  rgb(8, 173, 8);

  --color_yellow : #ffd447;
  --color_hover_yellow :  rgb(204, 157, 4);

  --color_blue_cyan : rgb(30, 160, 213);
  --color_hover_blue_cyan : rgb(15, 114, 153);

  --color_blue_cyan : rgb(255, 0, 0);
  --color_hover_blue_cyan : rgb(190, 0, 0);

  --color_blue : rgb(0, 91, 138);
  --color_hover_blue :  rgb(3, 68, 100);

  --color_verde_jade:  #1ed5bd;
  --color_verde_jade_hover: rgb(2, 141, 122);

  --color_azul_ocuro: rgba(18, 24, 47);
  --color_azul_ocuro_hover:#0b0f1e;

  --color_azul_violeta: rgb(61, 62, 194);
  --color_azul_violeta_hover: rgb(42, 42, 197);

  --gray-10: #1f1f1f;
    --gray-50: #303030;
    --gray-100: #404040;
    --gray-200: #525252;
    --gray-300: #5e5e5e;
    --gray-400: #868686;
    --gray-500: #999;
    --gray-600: #bfbfbf;
    --gray-700: #dbdbdb;
    --gray-800: #f0f0f0;
    --gray-900: #fafafa;
    --gray-950: #fff;
    --green-50: #0a4020;
    --green-100: #0d532a;
    --green-200: #24663b;
    --green-300: #217645;
    --green-400: #108548;
    --green-500: #2fc771;
    --green-600: #00ff66;
    --green-700: #91d4a8;
    --green-800: #c3e6cd;
    --green-900: #ecf4ee;
    --green-950: #f1fdf6;
    --blue-50: #033464;
    --blue-100: #064787;
    --blue-200: #0b5cad;
    --blue-300: #1068bf;
    --blue-400: #1f75cb;
    --blue-500: #428fdc;
    --blue-600: #63a6e9;
    --blue-700: #9dc7f1;
    --blue-800: #cbe2f9;
    --blue-900: #e9f3fc;
    --blue-950: #f2f9ff;
    --orange-50: #5c2900;
    --orange-100: #703800;
    --orange-200: #8f4700;
    --orange-300: #9e5400;
    --orange-400: #ab6100;
    --orange-500: #c17d10;
    --orange-600: #fdcd22;
    --orange-700: #fae338;
    --orange-800: #f5d9a8;
    --orange-900: #fdf1dd;
    --orange-950: #fff4e1;
    --red-50: #660e00;
    --red-100: #8d1300;
    --red-200: #ae1800;
    --red-300: #c91c00;
    --red-400: #dd2b0e;
    --red-500: #ec5941;
    --red-600: #f57f6c;
    --red-700: #fcb5aa;
    --red-800: #fdd4cd;
    --red-900: #fcf1ef;
    --red-950: #fff4f3;
    --indigo-50: #1a1a40;
    --indigo-100: #292961;
    --indigo-200: #393982;
    --indigo-300: #4b4ba3;
    --indigo-400: #5b5bbd;
    --indigo-500: #6666c4;
    --indigo-600: #7c7ccc;
    --indigo-700: #a6a6de;
    --indigo-800: #d1d1f0;
    --indigo-900: #ebebfa;
    --indigo-950: #f7f7ff;
    --purple-50: #232150;
    --purple-100: #2f2a6b;
    --purple-200: #453894;
    --purple-300: #5943b6;
    --purple-400: #694cc0;
    --purple-500: #7b58cf;
    --purple-600: #9475db;
    --purple-700: #ac93e6;
    --purple-800: #cbbbf2;
    --purple-900: #e1d8f9;
    --purple-950: #f4f0ff;
  

  /* ////////// COLORS - FORNT_FAMILY   //////////////// */

  --font_color_white : rgb(255, 255, 255);

  /* //////////BUTTON - LARGE //////////////// */

  --font_family_arial : arial;
  --btn_large_height : 60px;
  --btn_large_width : 353px;
  --btn_large_boder_radio : 7px;
  --btn_large_boder : none;
  --btn_large_justify : center;
  --btn_large_aling_items : center;
  --btn_large_fonsize : 17pt;
  --btn_large_fon_width : bold;

/* ////////// BUTTON - MEDIUM //////////////// */

  --btn_medium_height : 65px;
  --btn_medium_width : 190px;
  --btn_medium_boder_radio : 10px;
  --btn_medium_boder : none;
  --btn_medium_justify : center;
  --btn_medium_aling_items : center;
  --btn_medium_fonsize : 18pt;
  --btn_medium_fon_width : bold;

  /* ////////// BUTTON - SMALL //////////////// */

  --btn_small_height : 40px;
  --btn_small_width : 100px;
  --btn_small_boder_radio : 5px;
  --btn_small_boder : none;
  --btn_small_justify : center;
  --btn_small_aling_items : center;
  --btn_small_fonsize : 15px;
  --btn_small_fon_width : normal;

}




/* ------------BUTTON----------------*/


/* ////////// LARGE //////////////// */

.btn_lerge{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_large_justify);
  align-items: var(--btn_large_aling_items);
  width: var(--btn_large_width);
  height: var(--btn_large_height);
  background-color: var(--color_verde_jade);
  border-radius: var(--btn_large_boder_radio);
  border: var(--btn_large_boder);
  font-size: var(--btn_large_fonsize);
  font-weight: bold;
  color: var(--font_color_white);
  cursor: pointer;
  font-family: var(--font_family_arial);
  margin-top: 15px;
}

.btn_lerge:hover{
  background-color: var(--color_verde_jade_hover);
}


/* ////////// MEDIUM //////////////// */

.btn_medium{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_medium_justify);
  align-items: var(--btn_medium_aling_items);
  width: var(--btn_medium_width);
  height: var(--btn_medium_height);
  background-color: var(--color_green);
  border-radius: var(--btn_medium_boder_radio);
  border: var(--btn_medium_boder);
  font-size: var(--btn_medium_fonsize);
  font-weight: bold;
  color: var(--font_color_white);
  cursor: pointer;
  font-family: var(--font_family_arial);
}

.btn_medium:hover{
  background-color: var(--color_hover_green);
}

/* ////////// SMAL //////////////// */

.btn_small{
  display: flex;
  flex-direction: row;
  justify-content: var(--btn_small_justify);
  align-items: var(--btn_small_aling_items);
  width: var(--btn_small_width);
  height: var(--btn_small_height);
  background-color: var(--orange-700);
  border-radius: var(--btn_small_boder_radio);
  border: var(--btn_small_boder);
  font-size: var(--btn_small_fonsize);
  color: var(--font_color_white);
  cursor: pointer;
  font-family: var(--font_family_arial);
}


.btn_small:hover{
  background-color: var(--color_hover_green);
}

























